<div class="card w-full"  >
    <p-editor class="editor-t" [style]="{minWidth: '300px',height:'200px'}" [formControl]="form" [style.minHeight.px]="200" > 
        <ng-template pTemplate="header"> 
            <span class="ql-formats"> 
                <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"> 
                </button> 
      
                <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"> 
                </button> 
      
                <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"> 
                </button> 
      
                <button
                    type="button"
                    class="ql-strike"
                    aria-label="strike"> 
                </button> 
      
                <button
                    type="button"
                    class="ql-blockquote"
                    aria-label="blockquote"> 
                </button> 
      
                <button
                    type="button"
                    class="ql-code-block"
                    aria-label="code-block"> 
                </button> 
            </span> 
        </ng-template> 
    </p-editor>
    <div *ngIf="form.messageError" class="p-error">{{ form.traduireMessage() }}</div>
</div>