<app-spinner [show]="loading"></app-spinner>
<p-toast position="top-center" key="tc" />
<div class="" *ngIf="!loading">

    <div class="w-full gradient-background pb-6">
    
    <div class="typewriter flex justify-content-center  pt-8">
        <h2 class="typing-erase">{{currentText}}</h2>
    </div>
    <div class="flex justify-content-center pt-8">
        <p-button severity="primary" routerLink="/posts/new" label="Write a post"></p-button>
    </div>  
</div>
<div class="flex flex-column lg:flex-row justify-content-around mt-7">
    <div class="home-card border-round-2xl  mx-2 mb-2 pt-2 px-2 ">
        <div class="flex flex-column align-items-center mb-2">
            <span class="text-center"><i class="text-white pi pi-comments" style="font-size: 3rem"></i></span>
            <p class="text-white">Share your thoughts and experiences with the world.<br> Your voice matters, and we want to hear it.<br> Connect with like-minded individuals and make your mark.</p>
        </div>
    </div>
    <div class="home-card border-round-2xl  mx-2 mb-2 pt-2 px-2">
        <div class="flex flex-column align-items-center">
            <span class="text-center"><i class="text-white pi pi-users" style="font-size: 3rem"></i></span>
            <p class="text-white">Join our community and start blogging today.<br> Meet new people, share your passions, and grow your audience.<br> Be part of something bigger.</p>
        </div>
    </div>
    <div class="home-card border-round-2xl  mx-2 mb-2 pt-2 px-2">
        <div class="flex flex-column align-items-center">
            <span class="text-center"><i class="text-white pi pi-pencil" style="font-size: 3rem"></i></span>
            <p class="text-white">Express your creativity and share your stories.<br> Whether it's through writing, photography, or art,<br> let your imagination run wild and inspire others.</p>
        </div>
    </div>
</div>
<div >
    <h1 class="text-black text-center">Recent Posts</h1>
    <div class="card">
        @if(this.posts.total==0){
            <h2 class="text-center" >No posts in this moment</h2 >
  
        }
        <p-carousel 
            [value]="this.posts.data" 
            [numVisible]="4" 
            [numScroll]="3" 
            [circular]="false" 
            [responsiveOptions]="responsiveOptions">
                <ng-template let-post pTemplate="item">
                    <app-post-card [post]="post"></app-post-card>
   
                </ng-template>
        </p-carousel>
    </div>

    <!-- <div *ngIf="this.posts" class="flex flex-column lg:flex-row  justify-content-around md:justify-content-center mt-4">
    @for (post of posts; track $index) {
        <app-post-card [post]="post"></app-post-card>
    }
</div> -->
</div>

</div>
