<app-spinner [show]="loading"></app-spinner>

<div class="flex justify-content-center mt-7">
  <div id="forml" class="border-round-lg bg-black-alpha-90 shadow-8">
    <app-message *ngIf="this.messages.length > 0" [listeFunctionalMessage]="messages.listeFunctionalMessage"></app-message>

        <h2 class="text-white text-center text-2xl md:text-4xl lg:text-5xl">Login</h2> 
    
        <div class="flex justify-content-center align-items-center">
            <div>
                <form class="flex flex-column p-3  border-round">
                  <div class="text-center mb-3">
                    <span ><i class="pi pi-user icon-login" ></i></span>
                  </div>
                    <div class="mb-3">
                      <app-input-text [form]="this.userLoginForm.emailFormControl" icon="pi pi-at" idInput="email" label="Email" [listeAttributs]="{ type: 'email' }"></app-input-text>
                    </div>
                    <div class="mb-3">
                      <app-input-text [form]="this.userLoginForm.passwordFormControl" icon="pi pi-asterisk" idInput="password" label="Password" [listeAttributs]="{ type: 'password' }"></app-input-text>
                    </div>
                    <div class="text-center">
                      <p-button label="Send" severity="contrast" icon="pi pi-send" iconPos="right" (onClick)="submitForm()"></p-button>
                    </div>
                    <app-google-auth (googleAuthToken)="handleGoogleAuth($event)"></app-google-auth>
              
                  </form>
            </div>
            
          </div>
    </div>
</div>