<div *ngIf="form.visible" class="mb-0">
    <p-inputGroup>
      <p-inputGroupAddon *ngIf="icon" class="p-inputgroup-addon">
        <i  [class]="icon"></i> <!-- Replace with your desired icon -->
      </p-inputGroupAddon>
      <input
        pInputText
        [id]="form.fieldId"
        [type]="listeAttributs['type']"
        [ngClass]="inputClass()"
        [placeholder]="label"
        [readOnly]="!modifiable"
        (blur)="form.generateMessage()"
        [formControl]="form"
        (keyup)="handleTextChange($event)"
      />
      <span *ngIf="prependText" class="p-inputgroup-addon">{{ prependText }}</span>
      <span *ngIf="appendText" class="p-inputgroup-addon">{{ appendText }}</span>
    </p-inputGroup>
    <div *ngIf="form.messageError" class="p-error">{{ form.traduireMessage() }}</div>
  </div>